.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    width: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
}

.about {
    width:33%;
    display:flex;
    flex-flow:column;
}

img {
    height:200px;
    width:150px;

}